.text-shadow (@string: 0 1px 3px rgba(0, 0, 0, 0.25)) {
	text-shadow: @string;
}
.box-shadow (@string) {
	-webkit-box-shadow: @string;
	-moz-box-shadow:    @string;
	box-shadow:         @string;
}
.drop-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
	-webkit-box-shadow:	@x @y @blur @spread rgba(0, 0, 0, @alpha);
	-moz-box-shadow:	@x @y @blur @spread rgba(0, 0, 0, @alpha);
	box-shadow:		@x @y @blur @spread rgba(0, 0, 0, @alpha);
}
.inner-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
	-webkit-box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
	-moz-box-shadow:    inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
	box-shadow:         inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
}

.box-sizing (@type: border-box) {
	-webkit-box-sizing: @type;
	-moz-box-sizing:    @type;
	box-sizing:         @type;
}

.border-radius (@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	border-radius:         @radius;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}
.border-radiuses (@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
	-webkit-border-top-right-radius:    @topright;
	-webkit-border-bottom-right-radius: @bottomright;
	-webkit-border-bottom-left-radius:  @bottomleft;
	-webkit-border-top-left-radius:     @topleft;

	-moz-border-radius-topright:        @topright;
	-moz-border-radius-bottomright:     @bottomright;
	-moz-border-radius-bottomleft:      @bottomleft;
	-moz-border-radius-topleft:         @topleft;

	border-top-right-radius:            @topright;
	border-bottom-right-radius:         @bottomright;
	border-bottom-left-radius:          @bottomleft;
	border-top-left-radius:             @topleft;

	-moz-background-clip:    padding; 
	-webkit-background-clip: padding-box; 
	background-clip:         padding-box; 
}

.opacity (@opacity: 0.5) {
	-webkit-opacity: 	@opacity;
	-moz-opacity: 		@opacity;
	opacity: 		@opacity;
}

.gradient (@startColor: #eee, @endColor: white) {
	background-color: @startColor;
	background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
	background: -webkit-linear-gradient(top, @startColor, @endColor);
	background: -moz-linear-gradient(top, @startColor, @endColor);
	background: -ms-linear-gradient(top, @startColor, @endColor);
	background: -o-linear-gradient(top, @startColor, @endColor);
}
.horizontal-gradient (@startColor: #eee, @endColor: white) {
 	background-color: @startColor;
	background-image: -webkit-gradient(linear, left top, right top, from(@startColor), to(@endColor));
	background-image: -webkit-linear-gradient(left, @startColor, @endColor);
	background-image: -moz-linear-gradient(left, @startColor, @endColor);
	background-image: -ms-linear-gradient(left, @startColor, @endColor);
	background-image: -o-linear-gradient(left, @startColor, @endColor);
}

.animation (@name, @duration: 300ms, @delay: 0, @ease: ease) {
	-webkit-animation: @name @duration @delay @ease;
	-moz-animation:    @name @duration @delay @ease;
	-ms-animation:     @name @duration @delay @ease;
}

.transition (@transition) {
	-webkit-transition: @transition;  
	-moz-transition:    @transition;
	-ms-transition:     @transition; 
	-o-transition:      @transition;  
}
.transform(@string){
	-webkit-transform: @string;
	-moz-transform: 	 @string;
	-ms-transform: 		 @string;
	-o-transform: 		 @string;
}
.scale (@factor) {
	-webkit-transform: scale(@factor);
	-moz-transform: 	 scale(@factor);
	-ms-transform: 		 scale(@factor);
	-o-transform: 		 scale(@factor);
}
.rotate (@deg) {
	-webkit-transform: rotate(@deg);
	-moz-transform: 	 rotate(@deg);
	-ms-transform: 		 rotate(@deg);
	-o-transform: 		 rotate(@deg);
}
.skew (@deg, @deg2) {
	-webkit-transform:       skew(@deg, @deg2);
	-moz-transform: 	 skew(@deg, @deg2);
	-ms-transform: 		 skew(@deg, @deg2);
	-o-transform: 		 skew(@deg, @deg2);
}
.translate (@x, @y:0) {
	-webkit-transform:       translate(@x, @y);
	-moz-transform: 	 translate(@x, @y);
	-ms-transform: 		 translate(@x, @y);
	-o-transform: 		 translate(@x, @y);
}
.translate3d (@x, @y: 0, @z: 0) {
	-webkit-transform:       translate3d(@x, @y, @z);
	-moz-transform: 	 translate3d(@x, @y, @z);
	-ms-transform: 		 translate3d(@x, @y, @z);
	-o-transform: 		 translate3d(@x, @y, @z);
}
.perspective (@value: 1000) {
	-webkit-perspective: 	@value;
	-moz-perspective: 	@value;
	-ms-perspective: 	@value;
	perspective: 		@value;
}
.transform-origin (@x:center, @y:center) {
	-webkit-transform-origin: @x @y;
	-moz-transform-origin:    @x @y;
	-ms-transform-origin:     @x @y;
	-o-transform-origin:      @x @y;
}

/* =============================================================================
   Screen size variables
   ========================================================================== */

@screen-xs:                        480px;
@screen-xs-min:                    @screen-xs;
@screen-sm:                        768px;
@screen-sm-min:                    @screen-sm;
@screen-md:                        992px;
@screen-md-min:                    @screen-md;
@screen-lg:                        1200px;
@screen-lg-min:                    @screen-lg;
@screen-xl:                        1600px;
@screen-xl-min:                    @screen-xl;
@screen-xs-max:                    ( @screen-sm-min - 1 );
@screen-sm-max:                    ( @screen-md-min - 1 );
@screen-md-max:                    ( @screen-lg-min - 1 );
@screen-lg-max:                    ( @screen-xl-min - 1 );

/* =============================================================================
   Media queries for different screen sizes
   ========================================================================== */

// xs only
.screen-xs(@rules) {
    @media (max-width: @screen-xs-max) { @rules(); }
}

// sm and larger
.screen-sm-min(@rules) {
    @media (min-width: @screen-sm-min) { @rules(); }
}

// sm only
.screen-sm(@rules) {
    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { @rules(); }
}

// sm and smaller
.screen-sm-max(@rules) {
    @media (max-width: @screen-sm-max) { @rules(); }
}

// md and larger
.screen-md-min(@rules) {
    @media (min-width: @screen-md-min) { @rules(); }
}

// md only
.screen-md(@rules) {
    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) { @rules(); }
}

// md and smaller
.screen-md-max(@rules) {
    @media (max-width: @screen-md-max) { @rules(); }
}

// lg and larger
.screen-lg-min(@rules) {
    @media (min-width: @screen-lg-min) { @rules(); }
}

// lg only
.screen-lg(@rules) {
    @media (min-width: @screen-lg-min) and (max-width: @screen-lg-max) { @rules(); }
}

// lg and smaller
.screen-lg-max(@rules) {
    @media (max-width: @screen-lg-max) { @rules(); }
}

// xl and larger
.screen-xl(@rules) {
    @media (min-width: @screen-xl-min) { @rules(); }
}

// 1: xs only, 2: sm and larger
.screen(@rules-xs, @rules-sm) {
    .screen-xs(@rules-xs);
    .screen-sm-min(@rules-sm);
}

// 1: xs only, 2: sm only, 3: md and larger
.screen(@rules-xs, @rules-sm, @rules-md) {
    .screen-xs(@rules-xs);
    .screen-sm(@rules-sm);
    .screen-md-min(@rules-md);
}

// 1: xs only, 2: sm only, 3: md only, 4: lg and larger
.screen(@rules-xs, @rules-sm, @rules-md, @rules-lg) {
    .screen-xs(@rules-xs);
    .screen-sm(@rules-sm);
    .screen-md(@rules-md);
    .screen-lg-min(@rules-lg);
}

// 1: xs only, 2: sm only, 3: md only, 4: lg only, 5: xl and larger
.screen(@rules-xs, @rules-sm, @rules-md, @rules-lg, @rules-xl) {
    .screen-xs(@rules-xs);
    .screen-sm(@rules-sm);
    .screen-md(@rules-md);
    .screen-lg(@rules-lg);
    .screen-xl(@rules-xl);
}

@font-face {
	font-family: 'Stag-Book-Web';
	src: url("fonts/Stag-Book-Web.ttf") format("truetype");
	src: url('fonts/Stag-Book-Web.woff') format('woff'),
	url('fonts/Stag-Book-Web.eot') format('eot')
}

/* 'Colors
---------------------------------------------------------------------------- */

@yellow: #ffed00;
@dark: #222;
@light: #f7f7f7;

/* 'General
---------------------------------------------------------------------------- */

body {
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

h1, h2, h3 {
	font-family: 'Stag-Book-Web', serif;
	line-height: 1;
}

h1 {
	.screen-xs ({
		font-size: 36px;
	});
}

h2 {
	font-size: 36px;
	
	.screen-xs ({
		font-size: 28px;
	});
	
}

p {
	margin-bottom: 20px;
	line-height: 1.5;
}

a {
	transition: all 0.2s ease-in-out;
}

strong {
	font-weight: 600;
}

.block {
	padding:80px 0;
}

.content-block {
	padding:80px 0 60px 0;
	
	.screen-xs ({
		padding:60px 0 40px 0;
	});
	
}

img {
	max-width: 100%;
	height: auto;
}

.cc_container a, .cc_container a:visited {
	color:white !important;
}

.cc_container .cc_btn, .cc_container .cc_btn:visited {
	color:#333 !important;
}

.breadcrumbs {
	background:@light;
	padding:5px 0;
	font-size: 14px;
	
	p {
		margin-bottom: 0;
	}
}

/* 'Buttons
---------------------------------------------------------------------------- */

.btn-yellow {
	background:@yellow;
	border-radius: 4px;
	padding:7px 20px;
	text-transform: uppercase;
	color:@dark;
	text-transform: uppercase;
	font-weight: 600;
	transition: all 0.2s ease-in-out;
	font-size: 18px;
	border:2px solid @yellow;
	
	&:hover {
		background:none;
		color:@yellow;
		border:2px solid @yellow;
	}
	
}

/* 'Header
---------------------------------------------------------------------------- */

#header {
	background:@yellow;
	font-family: 'Stag-Book-Web', serif;
	border-color:#222;
	
	.header-extras {
		text-align: right;
		font-size: 18px;
		margin: 22px 0 0;
		color:#222;
		font-weight: 500;
		
		.screen-sm-max ({
			display: block !important;
		    position: absolute;
		    right: 0;
		    top: 0;
		    font-size: 24px;
		});
		
		span {
			font-family: 'Stag-Book-Web', serif;
		}
		
		.fa {
			margin: 0 2px;
			
			.screen-xs ({
				display: block !important;
			    position: absolute;
			    right: 10px;
			    top: 13px;
			});
			
			.screen-sm-max ({
				margin-right: 5px;
			});
			
		}
		.phone {
			.screen-sm-max ({
				display: block !important;
			});
			span {
				.screen-xs ({
					display: none;
				});
			}
		}
		
	}
	
}

/* 'Menu
---------------------------------------------------------------------------- */

#primary-menu {
	background:@dark;
	border-top: none !important;
	ul {
		li {
			&.current-menu-item, &.current-menu-ancestor {
				& > a {
					color:@yellow;
				}
			}
			
			a {
				font-size: 15px;
				font-weight: 500;
				color:@light;
				transition: all 0.2s ease-in-out;
				padding: 39px 20px;
				
				&:hover {
					color:@yellow !important;
				}
				.screen-md ({
					font-size: 14px;
					padding: 39px 13px;
				});
				
			}
			&.sfHover {
				& > a {
					color:@yellow !important;
				}
			}
		}
		
		ul {
			background:#333 !important;
			border:none !important;
			
			li {
				a {
					color:@light !important;
					font-size: 14px;
					text-transform: uppercase;
					font-weight: 500;
					
					&:hover {
						background:#3C3C3C !important;
						
						.screen-sm-max ({
							background:none !important;
							color:@light !important;
						});
						
					}
				}
			}
		}
		
	}
	& > div {
		& > ul {
			.screen-sm-max ({
				margin-bottom: 30px !important;
			});
		}
	}
}

#primary-menu-trigger {
	font-size: 24px;
	color:@dark;
}

/* 'Slider
---------------------------------------------------------------------------- */

#slider {
	.slider-caption {
		span {
			color:@light;
			text-shadow: 1px 2px 1px @dark;
			line-height: 1.2;
			text-transform: none;
			font-size: 56px;
			letter-spacing: 1px;
			font-family: 'Stag-Book-Web', serif;
			display: inline-block;
			font-weight: 600;
			
			.screen-sm ({
				font-size: 46px;
			});
			
			.screen-xs ({
				font-size: 30px;
			});
			
		}
	}
	.swiper-pagination {
		.screen-xs ({
			display: none;
		});
	}
}

/* 'Book
---------------------------------------------------------------------------- */

.book {
	color:@dark;
	position: relative;
	z-index: 1;
	font-weight: 400;
	
	&:before {
		background:url('images/binding_dark.png');
		content:'';
		height: 100%;
		width: 100%;
		position: absolute;
		top:0;
		left: 0;
		opacity: 0.1;
		z-index: -1;
	}
	
	.fa {
		color:@yellow;
		text-shadow: 1px 1px 1px #777;
	}
	
	h1, span {
		text-align: center;
		font-size: 48px;
		margin-bottom: 50px;
		color:@dark;
		letter-spacing: 1px;
		display: block;
		font-family: 'Stag-Book-Web', serif;
		line-height: 1;
		font-weight: 600;
		
		.screen-xs ({
			font-size: 34px;
			line-height: 1.1;
			text-align: left;
			margin-bottom: 30px;
		});
		
		
	}
	.service {
		ul {
			margin-bottom: 0;
			font-size: 24px;
			font-style: italic;
			list-style: none;
			
			.screen-md ({
				font-size: 22px;
			});
			
			.screen-sm-max ({
				font-size: 22px;
			});
			
			.screen-xs ({
				margin-bottom: 40px;
			});
			
			li {
				padding: 15px 0;
				border-bottom: 1px solid #C5C5C5;
				
				&:first-child {
					padding-top: 0;
				}
				
				&:before {
					color:@yellow;
					font-family: FontAwesome;
					content:"\f00c";
					font-size: 26px;
					margin-right: 13px;
					text-shadow: 1px 1px 1px #777;
				}
				
			}
			
		}		
	}
	.contact {
		font-size: 24px;
		
		.screen-md ({
			font-size: 22px;
		});
	
		.screen-sm-max ({
			font-size: 22px;
		});
		
		.fa-map-marker {
			position: absolute;
			font-size: 68px;
			left: 16px;
		}
		.adress {
			margin-left: 55px;
			margin-bottom: 25px;
			position: relative;
		}
		
		a {
			color:@dark;
			
		}
		.phone {
			margin-bottom: 25px;
		}
		.fa-map {
			margin-right: 5px;
		}
	}
	form {
		
		.screen-sm-max ({
			margin-top: 40px;
		});
		
		p {
			font-size: 22px;
		}
		
		margin-bottom: 0;
		
		.form-group {
			margin-bottom: 0;
		}
		
		.required-field {
			display: none;
		}
		input[type="text"] {
			height: 42px;
			font-size: 16px;
			margin-bottom:10px;
			background:white;
			color:@dark;
			border-radius: 4px;
			border:none;
			border:1px solid #ccc;
			
			&:focus, &:active {
				box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
			}
				
		}
		.btn {
			font-size: 16px;
			padding:5px 20px;
			box-shadow: 1px 1px 1px #717171;
			
			&:hover {
				color:@yellow;
				border-color:@dark;
				box-shadow: none;
				background:@dark;
			}
		}
	}
}

/* 'Bottom-boxes
---------------------------------------------------------------------------- */

.bottom-boxes {
    margin: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
    display: block;
    position: relative;
	background:@yellow;
	height:470px;

	.screen-xs ({
		height: auto;
	});

	.image {
		position: absolute;
		overflow: hidden;
		display: block;
		height: 100%;
		width: 55%;
		background: url('images/car2.jpg');
		-webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
		clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
		background-repeat: no-repeat;
		background-position: right;
		background-size: cover;
		
		.screen-xs ({
			-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);			
		    width: 100%;
		    height: 500px;
		});
		
	}
	.box-overlay {
	    background:rgba(0, 0, 0, 0);
		position: absolute;
	    display: block;
	    width: 100%;
	    height: 100%;
	    z-index: 0;
	}
	.text {
		z-index: 1;
		color:white;
		padding:80px 0;
		
		span {
			color:white;
			font-size: 48px;
			letter-spacing: 1px;
			text-shadow: 1px 1px 1px #000;
			display: inline-block;
			font-weight: 600;
			font-family: 'Stag-Book-Web', serif;
			margin-bottom: 20px;
			
			.screen-md ({
				font-size: 46px;
			});
			
			.screen-sm-max ({
				font-size: 36px;
				line-height: 1.1;
			});
		}
		p {
			font-size: 24px;
			text-shadow: 1px 1px 1px #000;
			line-height: 1.5;
			
			.screen-md ({
				font-size: 22px;
			});
			
			.screen-sm-max ({
				font-size: 20px;
			});
			
		}
		.btn {
			margin-top: 10px;
		}
	}
	.text2 {
		color:@dark;
		padding:80px 0 0 120px;
		font-weight: 400;
		
		.screen-sm ({
			padding:80px 0 0 90px;
		});
		
		.screen-xs ({
			padding:0;
			margin-bottom: 80px;
			padding-top: 50px;
		});
		
		span {
			color:@dark;
			font-size: 48px;
			letter-spacing: 1px;
			display: inline-block;
			font-weight: 600;
			font-family: 'Stag-Book-Web', serif;
			margin-bottom: 20px;
			
			.screen-md ({
				font-size: 46px;
			});
			
			.screen-sm-max ({
				font-size: 36px;
			});
			
		}
		.btn {
			margin-top: 10px;
			background:@dark;
			color:white;
			border:2px solid @dark;
			
			&:hover {
				background:none;
				border:2px solid @dark;
				color:@dark;
			}
			
		}
		ul {
			list-style: none;
			margin-bottom: 20px;
			
			li {
				margin-bottom: 10px;
				font-size: 24px;
				font-style: italic;

				.screen-md ({
					font-size: 22px;
				});
				
				.screen-sm ({
					font-size: 20px;
				});
				
				&:before {
					font-family: FontAwesome;
					content: "\f0ad";
					font-size: 26px;
					margin-right: 13px;
					
					.screen-sm-max ({
						font-size: 24px;
					});
					
				}
			}
			
		}
	}
}

/* 'Content
---------------------------------------------------------------------------- */

.content {
	font-size: 20px;
	line-height: 1.5;
	
	.screen-sm-max ({
		font-size: 18px;
	});
	
	.screen-xs ({
		margin-bottom: 40px;
	});
	
	h1 {
		font-size: 40px;
		
		.screen-sm-max ({
			font-size: 36px;
			line-height: 1.1;
		});
		
	}
	ul {
		list-style: none;
		
		li {
			margin-bottom: 5px;
			&:before {
				font-family: FontAwesome;
				content:"\f00c";
				margin-right: 5px;
			}
		}
		ul {
			padding-left: 20px;
		}
		
	}
	table {
		.screen-xs ({
			width:auto !important;
		});
		tr {
			background:@light;
			border-bottom: 1px solid #ccc;
			
			&:last-child {
				border-bottom: none;
			}
			
			&:nth-child(odd) {
				background:@light;
			}
			
			&:nth-child(even) {
				background:#ddd;
			}
			
			td {
				padding:10px 15px;
				
				
				&:first-child {
					font-weight: 600;
				}
				
			}
		}
	}
}

/* 'Sidebar
---------------------------------------------------------------------------- */

.sidebar {
	width: auto;
	margin-right: 0;
	float:none;
	margin-bottom: 0;
	
	.screen-sm-max ({
		padding-bottom: 0;
		border-bottom: none;
	});
	
	.screen-xs ({
		margin-bottom: 0 !important;
	});
	
	.menu {
		background:@dark;
		padding:20px;
		margin-right: 0;
		float: none;
		font-size: 18px;
		font-weight: 400;
		border-radius: 4px;
		color:@light;
		position: relative;
		z-index: 1;
		overflow: hidden;
		
		&:before {
		    content: '';
		    height: 100%;
		    width: 100%;
		    position: absolute;
		    top: 0;
		    left: 0;
		    opacity: 0.4;
		    z-index: -1;
		    background:url('images/binding_dark.png');
		}
		
		ul {
			list-style: none;
			margin-bottom: 0;
			
			li {
				margin-bottom: 5px;
				
				&:hover {
					&:before {
						color:@yellow;
					}
				}
				
				a {
					color:@light;
					&:hover {
						color:@yellow;
					}
				}
				
				&.current_page_item {
					a {
						color:@yellow;
					}
					&:before {
						color:@yellow;
					}
				}
				
				&:before {
					font-family: FontAwesome;
					content:"\f105";
					margin-right: 5px;
				}
				
			}
			
		}
		span {
			display: inline-block;
			font-size: 22px;
			font-family: 'Stag-Book-Web', serif;
			color:@light;
			margin-bottom: 10px;
		}		
	}

	.open {
		width: auto;
		background:@dark;
		padding:20px;
		margin-right: 0;
		float: none;
		font-size: 18px;
		font-weight: 400;
		border-radius: 4px;
		color:@light;
		position: relative;
		z-index: 1;
		overflow: hidden;
		
		&:before {
		    content: '';
		    height: 100%;
		    width: 100%;
		    position: absolute;
		    top: 0;
		    left: 0;
		    opacity: 0.4;
		    z-index: -1;
		    background:url('images/binding_dark.png');
		}
		span {
			display: inline-block;
			font-size: 22px;
			font-family: 'Stag-Book-Web', serif;
			color:@light;
			margin-bottom: 10px;
		}
		.btn {
			margin-top: 20px;
		}
	}
	
}

/* 'Contact
---------------------------------------------------------------------------- */

.contact {
	font-size: 20px;
	span {
		font-size: 36px;
		font-family: 'Stag-Book-Web', serif;
		line-height: 1;
		font-weight: 600;
		color: @light;
		display: inline-block;
		margin-bottom: 20px;
		
		.screen-sm-max ({
			font-size: 30px;
			line-height: 1.1;
		});
		
	}
	.fa {
		margin-right: 5px;
	}
	a {
		color:#555;
	}
	.gm-style-iw {
		padding:15px;
		width:350px !important;
		
	}
	.contact-form {
		padding:30px;
		border-radius: 4px;
		position: relative;
		z-index: 1;
		overflow: hidden;
		background:@dark;
	    position: relative;
	    max-width: 800px;
	    margin: 0 auto;
	    z-index: 10;
	    border-radius: 4px;
	    box-shadow: 0 1px 10px rgba(0,0,0,0.15);
	    float: right;
	    width: 380px;
	    margin: 0;
		
		p {
			color:@light;
			font-size: 18px;
		}
		
		&:before {
			content: '';
			height: 100%;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0.1;
			z-index: -1;
			background:url('images/binding_dark.png')
		}
		
		&.contact-xs {
			float: none;
			width:auto;
			
			.screen-xs ({
				margin-top: 20px;
			});
			
			span {
				font-size: 24px;
			}
			
		}
		
	}
	form {
		margin-bottom: 0;
		
		.form-group {
			margin-bottom: 0;
		}
		
		.required-field {
			display: none;
		}
		input[type="text"] {
			height: 40px;
			font-size: 16px;
			margin-bottom:10px;
			background:white;
			color:@dark;
			border-radius: 4px;
			border:1px solid #C7C7C7;
			
			&:focus, &:active {
				box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
			}
				
		}
		.btn {
			font-size: 16px;
			padding:5px 20px;
			
			&:hover {
				color:@yellow;
				border-color:@yellow;
			}
		}
	}
}

.gm-style-iw {
	padding:15px;
	width:350px !important;
	
}

/* 'Footer
---------------------------------------------------------------------------- */

.footer {
	padding:60px 0;
	background:@dark;
	position: relative;
	z-index: 1;
	color:@light;
	border-top: 5px solid rgba(0, 0, 0, 0.3);
	
	p {
		.screen-sm ({
			font-size: 18px;
		});
	}
	
	&:before {
		background:url('images/binding_dark.png');
		content:'';
		height: 100%;
		width: 100%;
		position: absolute;
		top:0;
		left: 0;
		opacity: 0.4;
		z-index: -1;
	}
	.fa {
		color:@yellow;
		margin-right: 7px;
		transition: all 0.2s ease-in-out;
		
		&:hover {
			opacity: 0.7;
		}
	}
	.content {
		padding-bottom: 40px;
		border-bottom: 1px solid #888;
		
		.screen-xs ({
			margin-bottom: 0 !important;
		});
		
	}
	.head {
	    font-family: 'Stag-Book-Web', serif;
	    font-size: 26px;
	    color:@light;
	    margin-bottom: 20px;
	    display: inline-block;
	    
	    .screen-sm ({
		   font-size: 20px; 
	    });
	    
	}
	iframe {
		.screen-sm-max ({
			width:200px;
		});
	}
	a {
		color:@light;
		
		.screen-sm ({
			font-size: 15px;
		});
		
		&:hover {
			color:@yellow;
		}
		
	}
	.fa-map-marker {
		font-size: 52px;
		position: absolute;
		left: 10px;
		
	}
	.map {
		margin-left: 35px;
	}
	.book-btn {
		margin-top: 60px;
		text-align: center;
		
		.btn {
			width: 360px;
			font-size: 20px;
			padding:7px 20px;
			color:@dark;
			
			.screen-xs ({
				width:100%;
				font-size: 14px;
			});
			
			&:hover {
				color:@yellow;
			}
		}
	}
}

/* 'Copy
---------------------------------------------------------------------------- */

.copy {
	padding:7px 0;
	text-align: center;
	color:@light;
	background:#101010;
	font-size: 13px;
	
	a {
		color:@light;
	}
}