/* =============================================================================
   Screen size variables
   ========================================================================== */
/* =============================================================================
   Media queries for different screen sizes
   ========================================================================== */
@font-face {
  font-family: 'Stag-Book-Web';
  src: url("fonts/Stag-Book-Web.ttf") format("truetype");
  src: url('fonts/Stag-Book-Web.woff') format('woff'), url('fonts/Stag-Book-Web.eot') format('eot');
}
/* 'Colors
---------------------------------------------------------------------------- */
/* 'General
---------------------------------------------------------------------------- */
body {
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}
h1,
h2,
h3 {
  font-family: 'Stag-Book-Web', serif;
  line-height: 1;
}
@media (max-width: 767px) {
  h1 {
    font-size: 36px;
  }
}
h2 {
  font-size: 36px;
}
@media (max-width: 767px) {
  h2 {
    font-size: 28px;
  }
}
p {
  margin-bottom: 20px;
  line-height: 1.5;
}
a {
  transition: all 0.2s ease-in-out;
}
strong {
  font-weight: 600;
}
.block {
  padding: 80px 0;
}
.content-block {
  padding: 80px 0 60px 0;
}
@media (max-width: 767px) {
  .content-block {
    padding: 60px 0 40px 0;
  }
}
img {
  max-width: 100%;
  height: auto;
}
.cc_container a,
.cc_container a:visited {
  color: white !important;
}
.cc_container .cc_btn,
.cc_container .cc_btn:visited {
  color: #333 !important;
}
.breadcrumbs {
  background: #f7f7f7;
  padding: 5px 0;
  font-size: 14px;
}
.breadcrumbs p {
  margin-bottom: 0;
}
/* 'Buttons
---------------------------------------------------------------------------- */
.btn-yellow {
  background: #ffed00;
  border-radius: 4px;
  padding: 7px 20px;
  color: #222;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  font-size: 18px;
  border: 2px solid #ffed00;
}
.btn-yellow:hover {
  background: none;
  color: #ffed00;
  border: 2px solid #ffed00;
}
/* 'Header
---------------------------------------------------------------------------- */
#header {
  background: #ffed00;
  font-family: 'Stag-Book-Web', serif;
  border-color: #222;
}
#header .header-extras {
  text-align: right;
  font-size: 18px;
  margin: 20px 0 0;
  color: #222;
  font-weight: 500;
}
@media (max-width: 991px) {
  #header .header-extras {
    display: block !important;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 24px;
  }
}
#header .header-extras span {
  font-family: 'Stag-Book-Web', serif;
}
#header .header-extras .fa {
  margin: 0 2px;
}
@media (max-width: 767px) {
  #header .header-extras .fa {
    display: block !important;
    position: absolute;
    right: 10px;
    top: 13px;
  }
}
@media (max-width: 991px) {
  #header .header-extras .fa {
    margin-right: 5px;
  }
}
@media (max-width: 991px) {
  #header .header-extras .phone {
    display: block !important;
  }
}
@media (max-width: 767px) {
  #header .header-extras .phone span {
    display: none;
  }
}
/* 'Menu
---------------------------------------------------------------------------- */
#primary-menu {
  background: #222;
  border-top: none !important;
}
#primary-menu ul li.current-menu-item > a,
#primary-menu ul li.current-menu-ancestor > a {
  color: #ffed00;
}
#primary-menu ul li a {
  font-size: 15px;
  font-weight: 500;
  color: #f7f7f7;
  transition: all 0.2s ease-in-out;
  padding: 39px 20px;
}
#primary-menu ul li a:hover {
  color: #ffed00 !important;
}
@media (min-width: 992px) and (max-width: 1199px) {
  #primary-menu ul li a {
    font-size: 14px;
    padding: 39px 13px;
  }
}
#primary-menu ul li.sfHover > a {
  color: #ffed00 !important;
}
#primary-menu ul ul {
  background: #333 !important;
  border: none !important;
}
#primary-menu ul ul li a {
  color: #f7f7f7 !important;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
}
#primary-menu ul ul li a:hover {
  background: #3C3C3C !important;
}
@media (max-width: 991px) {
  #primary-menu ul ul li a:hover {
    background: none !important;
    color: #f7f7f7 !important;
  }
}
@media (max-width: 991px) {
  #primary-menu > div > ul {
    margin-bottom: 30px !important;
  }
}
#primary-menu-trigger {
  font-size: 24px;
  color: #222;
}
/* 'Slider
---------------------------------------------------------------------------- */
#slider .slider-caption span {
  color: #f7f7f7;
  text-shadow: 1px 2px 1px #222;
  line-height: 1.2;
  text-transform: none;
  font-size: 56px;
  letter-spacing: 1px;
  font-family: 'Stag-Book-Web', serif;
  display: inline-block;
  font-weight: 600;
}
@media (min-width: 768px) and (max-width: 991px) {
  #slider .slider-caption span {
    font-size: 46px;
  }
}
@media (max-width: 767px) {
  #slider .slider-caption span {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  #slider .swiper-pagination {
    display: none;
  }
}
/* 'Book
---------------------------------------------------------------------------- */
.book {
  color: #222;
  position: relative;
  z-index: 1;
  font-weight: 400;
}
.book:before {
  background: url('images/binding_dark.png');
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.1;
  z-index: -1;
}
.book .fa {
  color: #ffed00;
  text-shadow: 1px 1px 1px #777;
}
.book h1,
.book span {
  text-align: center;
  font-size: 48px;
  margin-bottom: 50px;
  color: #222;
  letter-spacing: 1px;
  display: block;
  font-family: 'Stag-Book-Web', serif;
  line-height: 1.2;
  font-weight: 600;
}
@media (max-width: 767px) {
  .book h1,
  .book span {
    font-size: 34px;
    line-height: 1.1;
    text-align: left;
    margin-bottom: 30px;
  }
}
.book .service ul {
  margin-bottom: 0;
  font-size: 24px;
  font-style: italic;
  list-style: none;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .book .service ul {
    font-size: 22px;
  }
}
@media (max-width: 991px) {
  .book .service ul {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  .book .service ul {
    margin-bottom: 40px;
  }
}
.book .service ul li {
  padding: 15px 0;
  border-bottom: 1px solid #C5C5C5;
}
.book .service ul li:first-child {
  padding-top: 0;
}
.book .service ul li:before {
  color: #ffed00;
  font-family: FontAwesome;
  content: "\f00c";
  font-size: 26px;
  margin-right: 13px;
  text-shadow: 1px 1px 1px #777;
}
.book .contact {
  font-size: 24px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .book .contact {
    font-size: 22px;
  }
}
@media (max-width: 991px) {
  .book .contact {
    font-size: 22px;
  }
}
.book .contact .fa-map-marker {
  position: absolute;
  font-size: 68px;
  left: 16px;
}
.book .contact .adress {
  margin-left: 55px;
  margin-bottom: 25px;
  position: relative;
}
.book .contact a {
  color: #222;
}
.book .contact .phone {
  margin-bottom: 25px;
}
.book .contact .fa-map {
  margin-right: 5px;
}
.book form {
  margin-bottom: 0;
}
@media (max-width: 991px) {
  .book form {
    margin-top: 40px;
  }
}
.book form p {
  font-size: 22px;
}
.book form .form-group {
  margin-bottom: 0;
}
.book form .required-field {
  display: none;
}
.book form input[type="text"] {
  height: 42px;
  font-size: 16px;
  margin-bottom: 10px;
  background: white;
  color: #222;
  border-radius: 4px;
  border: none;
  border: 1px solid #ccc;
}
.book form input[type="text"]:focus,
.book form input[type="text"]:active {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.book form .btn {
  font-size: 16px;
  padding: 5px 20px;
  box-shadow: 1px 1px 1px #717171;
}
.book form .btn:hover {
  color: #ffed00;
  border-color: #222;
  box-shadow: none;
  background: #222;
}
/* 'Bottom-boxes
---------------------------------------------------------------------------- */
.bottom-boxes {
  margin: 0;
  width: 100%;
  overflow: hidden;
  display: block;
  position: relative;
  background: #ffed00;
  height: 470px;
}
@media (max-width: 767px) {
  .bottom-boxes {
    height: auto;
  }
}
.bottom-boxes .image {
  position: absolute;
  overflow: hidden;
  display: block;
  height: 100%;
  width: 55%;
  background: url('images/car2.jpg');
  -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}
@media (max-width: 767px) {
  .bottom-boxes .image {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    width: 100%;
    height: 360px;
  }
}
@media (max-width: 478px) {
	.bottom-boxes .image {
		height: 460px;
	}
}
.bottom-boxes .box-overlay {
  background: rgba(0, 0, 0, 0);
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.bottom-boxes .text {
  z-index: 1;
  color: white;
  padding: 80px 0;
}
@media (max-width: 767px) {
	.bottom-boxes .text {
		padding:50px 0;
	}
}
.bottom-boxes .text span {
  color: white;
  font-size: 48px;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px #000;
  display: inline-block;
  font-weight: 600;
  font-family: 'Stag-Book-Web', serif;
  margin-bottom: 20px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .bottom-boxes .text span {
    font-size: 46px;
  }
}
@media (max-width: 991px) {
  .bottom-boxes .text span {
    font-size: 36px;
    line-height: 1.1;
  }
}
.bottom-boxes .text p {
  font-size: 24px;
  text-shadow: 1px 1px 1px #000;
  line-height: 1.5;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .bottom-boxes .text p {
    font-size: 22px;
  }
}
@media (max-width: 991px) {
  .bottom-boxes .text p {
    font-size: 20px;
  }
}
.bottom-boxes .text .btn {
  margin-top: 10px;
}
.bottom-boxes .text2 {
  color: #222;
  padding: 80px 0 0 120px;
  font-weight: 400;
}
@media (min-width: 768px) and (max-width: 991px) {
  .bottom-boxes .text2 {
    padding: 80px 0 0 90px;
  }
}
@media (max-width: 767px) {
  .bottom-boxes .text2 {
    padding: 0;
    margin-bottom: 80px;
    padding-top: 50px;
  }
}
@media (max-width: 767px) {
  .bottom-boxes .text2 {
	  margin-bottom: 50px;
  }
 }
.bottom-boxes .text2 span {
  color: #222;
  font-size: 48px;
  letter-spacing: 1px;
  display: inline-block;
  font-weight: 600;
  font-family: 'Stag-Book-Web', serif;
  margin-bottom: 20px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .bottom-boxes .text2 span {
    font-size: 46px;
  }
}
@media (max-width: 991px) {
  .bottom-boxes .text2 span {
    font-size: 36px;
  }
}
.bottom-boxes .text2 .btn {
  margin-top: 10px;
  background: #222;
  color: white;
  border: 2px solid #222;
}
.bottom-boxes .text2 .btn:hover {
  background: none;
  border: 2px solid #222;
  color: #222;
}
.bottom-boxes .text2 ul {
  list-style: none;
  margin-bottom: 20px;
}
.bottom-boxes .text2 ul li {
  margin-bottom: 10px;
  font-size: 24px;
  font-style: italic;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .bottom-boxes .text2 ul li {
    font-size: 22px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .bottom-boxes .text2 ul li {
    font-size: 20px;
  }
}
.bottom-boxes .text2 ul li:before {
  font-family: FontAwesome;
  content: "\f0ad";
  font-size: 26px;
  margin-right: 13px;
}
@media (max-width: 991px) {
  .bottom-boxes .text2 ul li:before {
    font-size: 24px;
  }
}
/* 'Content
---------------------------------------------------------------------------- */
.content {
  font-size: 20px;
  line-height: 1.5;
}
@media (max-width: 991px) {
  .content {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .content {
    margin-bottom: 40px;
  }
}
.content h1 {
  font-size: 40px;
}
@media (max-width: 991px) {
  .content h1 {
    font-size: 36px;
    line-height: 1.1;
  }
}
.content ul {
  list-style: none;
}
.content ul li {
  margin-bottom: 5px;
}
.content ul li:before {
  font-family: FontAwesome;
  content: "\f00c";
  margin-right: 5px;
}
.content ul ul {
  padding-left: 20px;
}
@media (max-width: 767px) {
  .content table {
    width: 100% !important;
  }
}
.content table tr {
  background: #f7f7f7;
  border-bottom: 1px solid #ccc;
}
.content table tr:last-child {
  border-bottom: none;
}
.content table tr:nth-child(odd) {
  background: #f7f7f7;
}
.content table tr:nth-child(even) {
  background: #ddd;
}
.content table tr td {
  padding: 10px 15px;
}
.content table tr td:first-child {
  font-weight: 600;
}
/* 'Sidebar
---------------------------------------------------------------------------- */
.sidebar {
  width: auto;
  margin-right: 0;
  float: none;
  margin-bottom: 20px !important;
}
@media (max-width: 991px) {
  .sidebar {
    padding-bottom: 0;
    border-bottom: none;
  }
}
.sidebar .menu {
  background: #222;
  padding: 20px;
  margin-right: 0;
  float: none;
  font-size: 18px;
  font-weight: 400;
  border-radius: 4px;
  color: #f7f7f7;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.sidebar .menu:before {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
  z-index: -1;
  background: url('images/binding_dark.png');
}
.sidebar .menu ul {
  list-style: none;
  margin-bottom: 0;
}
.sidebar .menu ul li {
  margin-bottom: 5px;
}
.sidebar .menu ul li:hover:before {
  color: #ffed00;
}
.sidebar .menu ul li a {
  color: #f7f7f7;
}
.sidebar .menu ul li a:hover {
  color: #ffed00;
}
.sidebar .menu ul li.current_page_item a {
  color: #ffed00;
}
.sidebar .menu ul li.current_page_item:before {
  color: #ffed00;
}
.sidebar .menu ul li:before {
  font-family: FontAwesome;
  content: "\f105";
  margin-right: 5px;
}
.sidebar .menu span {
  display: inline-block;
  font-size: 22px;
  font-family: 'Stag-Book-Web', serif;
  color: #f7f7f7;
  margin-bottom: 10px;
}
.sidebar .open {
  width: auto;
  background: #222;
  padding: 20px;
  margin-right: 0;
  float: none;
  font-size: 18px;
  font-weight: 400;
  border-radius: 4px;
  color: #f7f7f7;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.sidebar .open:before {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
  z-index: -1;
  background: url('images/binding_dark.png');
}
.sidebar .open span {
  display: inline-block;
  font-size: 22px;
  font-family: 'Stag-Book-Web', serif;
  color: #f7f7f7;
  margin-bottom: 10px;
}
.sidebar .open .btn {
  margin-top: 20px;
}
/* 'Contact
---------------------------------------------------------------------------- */
.contact {
  font-size: 20px;
}
.contact span {
  font-size: 36px;
  font-family: 'Stag-Book-Web', serif;
  line-height: 1;
  font-weight: 600;
  color: #f7f7f7;
  display: inline-block;
  margin-bottom: 20px;
}
@media (max-width: 991px) {
  .contact span {
    font-size: 30px;
    line-height: 1.1;
  }
}
.contact .fa {
  margin-right: 5px;
}
.contact a {
  color: #555;
}
.contact .gm-style-iw {
  padding: 15px;
  width: 350px !important;
}
.contact .contact-form {
  padding: 30px;
  z-index: 1;
  overflow: hidden;
  background: #222;
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  z-index: 10;
  border-radius: 4px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  float: right;
  width: 380px;
  margin: 0;
}
.contact .contact-form p {
  color: #f7f7f7;
  font-size: 18px;
}
.contact .contact-form:before {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.1;
  z-index: -1;
  background: url('images/binding_dark.png');
}
.contact .contact-form.contact-xs {
  float: none;
  width: auto;
}
@media (max-width: 767px) {
  .contact .contact-form.contact-xs {
    margin-top: 20px;
  }
}
.contact .contact-form.contact-xs span {
  font-size: 24px;
}
.contact form {
  margin-bottom: 0;
}
.contact form .form-group {
  margin-bottom: 0;
}
.contact form .required-field {
  display: none;
}
.contact form input[type="text"] {
  height: 40px;
  font-size: 16px;
  margin-bottom: 10px;
  background: white;
  color: #222;
  border-radius: 4px;
  border: 1px solid #C7C7C7;
}
.contact form input[type="text"]:focus,
.contact form input[type="text"]:active {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.contact form .btn {
  font-size: 16px;
  padding: 5px 20px;
}
.contact form .btn:hover {
  color: #ffed00;
  border-color: #ffed00;
}
.gm-style-iw {
  padding: 15px;
  width: 350px !important;
}
/* 'Footer
---------------------------------------------------------------------------- */
.footer {
  padding: 60px 0;
  background: #222;
  position: relative;
  z-index: 1;
  color: #f7f7f7;
  border-top: 5px solid rgba(0, 0, 0, 0.3);
}
@media (min-width: 768px) and (max-width: 991px) {
  .footer p {
    font-size: 18px;
  }
}
.footer:before {
  background: url('images/binding_dark.png');
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
  z-index: -1;
}
.footer .fa {
  color: #ffed00;
  margin-right: 7px;
  transition: all 0.2s ease-in-out;
}
.footer .fa:hover {
  opacity: 0.7;
}
.footer .content {
  padding-bottom: 40px;
  border-bottom: 1px solid #888;
}
@media (max-width: 767px) {
  .footer .content {
    margin-bottom: 0 !important;
  }
}
.footer .head {
  font-family: 'Stag-Book-Web', serif;
  font-size: 26px;
  color: #f7f7f7;
  margin-bottom: 20px;
  display: inline-block;
}
@media (min-width: 768px) and (max-width: 991px) {
  .footer .head {
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  .footer iframe {
    width: 200px;
  }
}
.footer a {
  color: #f7f7f7;
}
@media (min-width: 768px) and (max-width: 991px) {
  .footer a {
    font-size: 15px;
  }
}
.footer a:hover {
  color: #ffed00;
}
.footer .fa-map-marker {
  font-size: 52px;
  position: absolute;
  left: 10px;
}
.footer .map {
  margin-left: 35px;
}
.footer .book-btn {
  margin-top: 60px;
  text-align: center;
}
.footer .book-btn .btn {
  width: 360px;
  font-size: 20px;
  padding: 7px 20px;
  color: #222;
}
@media (max-width: 767px) {
  .footer .book-btn .btn {
    width: 100%;
    font-size: 14px;
  }
}
.footer .book-btn .btn:hover {
  color: #ffed00;
}
/* 'Copy
---------------------------------------------------------------------------- */
.copy {
  padding: 7px 0;
  text-align: center;
  color: #f7f7f7;
  background: #101010;
  font-size: 13px;
}
.copy a {
  color: #f7f7f7;
}
